
.v-btn--outlined.primary--text {
  &:hover {
    color: #ffffff !important;
    background-color: #208CB2 !important;
    border: thin solid #208CB2 !important;
  }
}


// button.btn-s, a.btn-s {
//   font-size: 13px !important;
//   line-height: 18px !important;
//   font-family: 'Montserrat', sans-serif !important;
// }

// button.btn-l {
//   font-size: 13px !important;
//   line-height: 18px !important;
//   font-family: 'Montserrat', sans-serif !important;
// }

// a.btn-l {
//   letter-spacing: 2px !important;
//   font-size: 12px !important;
//   line-height: 18px !important;
// }