.bp-xs {
  min-width: 0;
  max-width: 600px;
}

.bp-sm {
  min-width: 600px;
  max-width: 960px;
}

.bp-md {
  min-width: 960px;
  max-width: 1264px;
}

.bp-lg {
  min-width: 1264px;
  max-width: 1904px;
}

.bp-xl {
  max-width: 1904px;
}

.bp-tmo--max {
  max-width: 1440px !important;
  margin: auto;
}
