/* white space */
.whitespace_pre_line {
  white-space: pre-line;
}
.whitespace_no_wrap {
  white-space: nowrap;
}

/* letter spacing */
.letter_space_normal {
  letter-spacing: 0;
}
.letter_space_wide {
  letter-spacing: 0.025em;
}

/* place */
.place_items_center {
  place-items: center;
}
.place_self_center {
  place-self: center;
}

.reset_p {
  padding: 0;
}

.clearfix {
  overflow: hidden !important;
  &::after {
    content: "" !important;
    display: block !important;
    height: 0 !important;
    clear: both !important;
  }
  &::before {
    content: "" !important;
    display: block !important;
    height: 0 !important;
    clear: both !important;
  }
}
/* .clearfix {
  &::after {
    content: "";
    display: block !important;
    height: 0 !important;
    clear: both !important;
  }
  &::before {
    content: "";
    display: block !important;
    height: 0 !important;
    clear: both !important;
  }
} */
